[css](-Ny7WAZXjn4U1jW_CRFr)

bg {
	/* background-image: url('https://imgur.com/a/hero-markdown-background-fGR0IXW.png'); */
	padding: 30px;
	padding-top: 1px;
	margin: -30px;
	max-width: 800px;
	/* background-color: #4c9cc9; */
}

p {
	font-family: Tahoma, Helvetica, arial;
	font-size: 14px;
	margin-bottom: 8px;
	text-indent: 10px;
}

p.first-of-type {
	font-family: Tahoma, Helvetica, arial;
	font-size: 14px !important;
	margin-bottom: 0px;
	text-indent: 0px!important;
}

ul {
	font-family: Tahoma, Helvetica, arial;
	font-size: 14px;
	list-style-position: inside;
	padding-left: 5px;
	margin-bottom: 0px;
	text-indent: -5px;
	list-style-type: square;
}

li {
	font-family: Tahoma, Helvetica, arial;
	font-size: 14px;
	list-style-position: inside;
	margin-bottom: 0px;
	text-indent: -5px;
}

ol {
	font-family: Tahoma, Helvetica, arial;
	font-size: 14px;
	list-style-position: inside;
	padding-left: 5px;
	margin-bottom: 0px;
	text-indent: -5px;
}

h1 {
	font-family: Tahoma, Helvetica, arial;
	background-image: linear-gradient(90deg, #99c6e0 0%, #0072B2 50%, #99c6e0 100%);
	background-size: 100% 8px;
	background-repeat: no-repeat;
	background-position: center top;
	color: #56B4E9;
	max-width: 800px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	text-align: center;
	font-size: 48px;
	margin-top: 9px;
	margin-bottom: 4px;
	padding-top: 8px;
	padding-bottom: 0px;
	line-height: 1.1em;
	clear: both;
}

h2 {
	font-family: Tahoma, Helvetica, arial;
	background-image: linear-gradient(90deg, #99c6e0 0%, #0072B2 50%, #99c6e0 100%);
	background-size: 800px 8px;
	background-repeat: no-repeat;
	background-position: center top;
	color: #0072B2;
	max-width: 800px;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
	font-size: 32px;
	margin-top: 8px;
	margin-bottom: 4px;
	padding-top: 8px;
	clear: both;
}

h3 {
	font-family: Tahoma, Helvetica, arial;
	color: #0072B2;
	font-weight: 900;
	font-size: 28px;
	margin-top: 10px;
	margin-bottom: 2px;
	clear: both;
}

h4 {
	font-family: Tahoma, Helvetica, arial;
	background-image: linear-gradient(90deg, #99c6e0 0%, #0072B2 40%, #99c6e0 80%);
	background-size: 800px 3px;
	background-repeat: no-repeat;
	background-position: left bottom;
	color: #0072B2;
	max-width: 800px;
	text-transform: uppercase;
	font-size: 16px;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-bottom: 4px;
}

h5 {
	font-family: Tahoma, Helvetica, arial;
	color: #0072B2;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 8px;
	line-height: 80%;
}

h6 {
	font-family: Tahoma, Helvetica, arial;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 8px;
	line-height: 80%;
}

blockquote {
	font-family: Lucida Console, Monaco, Courier New;
	color: black;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 5px 10px;
	background-image: linear-gradient(90deg, #66bbeb 0%, #ddf0fa 100%);
	border-top: 2px solid;
	border-bottom: 2px solid;
	border-left: 2px solid;
	border-right: 2px solid;
	border-radius: 8px #0072B2;;
}

p.blockquote {
	font-family: Lucida Console, Monaco, Courier New;
	font-size: 13px;
	margin-bottom: 0px;
	text-indent: 10px;
}

code {
	font-family: Lucida Console, Monaco, Courier New;
	color: black;
	background: yellow;
}

a {
	text-decoration: underline;
	color: #9AC4BE !important;
}

.note-editor a[href^='http://journal.roll20.net'] {
	color: #9AC4BE !important;
	text-decoration: underline;
}

.note-editor a[href^='http://journal.roll20.net']:link {
	color: #9AC4BE !important;
	text-decoration: underline;
}

left {
	float: left;
	margin-right: 6px;
	margin-top: 2px;
	margin-bottom: 2px;
	max-width: 40%;
}

right {
	float: right;
	margin-left: 6px;
	margin-top: 2px;
	margin-bottom: 2px;
	max-width: 40%;
}

left60 {
	float: left;
	margin-right: 6px;
	margin-top: 2px;
	margin-bottom: 2px;
	max-width: 60%;
}

right60 {
	float: right;
	margin-left: 6px;
	margin-top: 2px;
	margin-bottom: 2px;
	max-width: 60%;
}

right20 {
	float: right;
	margin-left: 6px;
	margin-top: 2px;
	margin-bottom: 2px;
	max-width: 20%;
}

left20 {
	float: left;
	margin-left: 6px;
	margin-top: 2px;
	margin-bottom: 2px;
	max-width: 20%;
}

left-thumb {
	float: left;
	margin-right: 6px;
	margin-top: 2px;
	margin-bottom: 2px;
	max-height: 140px;
}

left-icon {
	float: left;
	margin-right: 6px;
	margin-top: 2px;
	margin-bottom: 2px;
	max-width: 50px;
}

right-icon {
	float: right;
	margin-right: 6px;
	margin-top: 2px;
	margin-bottom: 2px;
	max-width: 50px;
}

right-thumb {
	float: right;
	margin-left: 6px;
	margin-top: 2px;
	margin-bottom: 2px;
	max-height: 140px;
}

center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2px;
}

feature {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 80%;
}

sidebar {
	float: right;
	margin-left: 6px;
	max-width: 40%;
	background: #b6d7a8;
	border: 1px;
	border-style: solid;
	padding: 5px;
}

statblock {
	font-family: Tahoma, Helvetica, arial;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 5px 10px;
	background-color: #FDF1DC;
	border-top: 2px solid;
	border-bottom: 2px solid;
	border-left: 0px solid;
	border-right: 0px solid;
	box-shadow: 1px 4px 14px #888;
}

statblockcap {
	display: block;
	background: #E69A28;
	border: 1px solid #000;
	height: 5px;
	padding: 0 10px 0;
	margin: -10px -10px 0;
	box-sizing: initial;
}

tr:first-child {
	width: 100%;
	text-align: left;
	font-family: Tahoma, Helvetica, arial;
	font-weight: bold;
	font-size: 13px;
	color: #0072B2;
	vertical-align: middle;
	background: white;
	border-bottom: 2px solid #3f3f3f !important;
}

tr:nth-child(even) {
	width: 100%;
	text-align: left;
	font-family: Tahoma, Helvetica, arial;
	font-size: 13px;
	background: white;
}

tr:nth-child(odd) {
	width: 100%;
	text-align: left;
	font-family: Tahoma, Helvetica, arial;
	font-size: 13px;
	background: #cce8f8;
}

tr:last-child {
	width: 100%;
	text-align: left;
	background: transparent;
	font-family: Tahoma, Helvetica, arial;
	font-size: 13px;
	border: 3px solid #3f3f3f !important;
}

table {
	font-family: Lucida Console, Monaco, Courier New;
	color: #292929;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 5px 10px;
	background: transparent;
	border-top: 0px solid;
	border-bottom: 0px solid;
	border-left: 0px solid;
	border-right: 0px solid;
}

td.align-left {
	border-collapse:collapse;
	outline:none;
	border: 0px !important;
	border-spacing: 0;
	border: 0px solid white !important;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
}

td.align-center {
	border-collapse:collapse;
	border: none !important;
	border-spacing: 0;
	border: 0px solid white !important;
	outline:none;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
}

td.align-right {
	border-collapse:collapse;
	border: none !important;
	border-spacing: 0;
	border: 0px solid white !important;
	outline:none;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: right;
}

hr {
	display:block;
	border:0px;
	height:64px;
	width: 800px;
	align: center;
	background-image:url('https://imgur.com/eVAYTUN.png');
	background-position: center;
	background-repeat: no-repeat;
}

hr.style2 {
	display: block;
	width: 100%;
	height: 1px;
	border: none;
}

hr.style3 {
	height: 2px;
	background-color: #ffffff;
	display: block;
	border: 0;
}

warning_icon {width: 16px; height: 16px;}
stop_icon {width: 16px; height: 16px;}
superhero_icon {width: 16px; height: 16px;} 
hero_icon {width: 16px; height: 16px;}
grimoire_icon {width: 32px; height: 32px;}
hero_dice {width: 64px; height: 64px;}